#image{
    aspect-ratio: 1/1;
}

#title {
    color: var(--green);
    padding-left: 20px;
}

#casing {
    align-self: auto;
    background: black;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    width: 30%;
}